body {
    background-image: url("../img/LogoGHQ-blue.png");
    background-position: center 40px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 480px;
}

.inner.cover {
    margin-top: 200px;
}