* {
    color: white;
}

body {
    background-color: #a93661;
    /*background-image: url("/assets/images/LogoGHQ-blue.png");*/
    /*background-position: center 40px;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-size: 480px;*/
}

a {
    display: inline-block;
    color: white;
    font-style: italic;
    text-decoration: underline;
    -webkit-transition: color .35s, background-color .35s;
            transition: color .35s, background-color .35s;
}
    
a:hover {
    color: #a93661;
    background-color: #f0f0f0;
}

.top-bar {
    background-color: #a80e44;
}

.top-bar a,
.top-bar a:hover {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}

.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section li.active:not(.has-form) a:not(.button)
{
    background-color: #a80e44;
}

.top-bar-section li:not(.has-form) a:hover:not(.button),
.top-bar-section li.active:not(.has-form) a:hover:not(.button)
{
    color: #a80e44;
    background-color: #f0f0f0;
}

.top-bar {
    -webkit-box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.4);
       -moz-box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.4);
            box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.4);
}

/*.inner.cover {
    margin-top: 200px;
}*/

/*.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}*/
